---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <h2>Équipe</h2>
  <div class="about-people">
    {% for person in site.data.people %}
      <div class="about-person">
        <div class="about-person-img">
            <img src="{{ site.baseurl }}/{{ person.photo }}"/>
        </div>
        <div class="about-person-name">{{ person.name }}</div>
        <div>{{ person.title }}</div>
        {% if person.email %}
            <a href="mailto:{{ person.email }}">{{ person.email }}</a>
        {% endif %}
        {% if person.github %}
            {% include icon-github.html username=person.github %}
        {% endif %}
        {% if person.available %}
            <div>Disponibilités:</div>
            <ul>
            {% for avail in person.available %}
                <li>{{ avail }}</li>
            {% endfor %}
            </ul>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <div class="post-content">
    {{ content }}
  </div>

</article>
